.hide {
  display: none;
}

body {
  background: radial-gradient(#56c2f2, #0e192e) no-repeat center center fixed;
  color: white;
}

.container,
#finished {
  padding: 150px;
  text-align: center;
}
p {
  font-size: 2rem;
}

button {
  font-size: 2rem;
  margin: 4px;
}
h2 {
  font-size: 3rem;
}
